@model CharityCalculatorV2.Models.DonationViewModel.DonationViewModel
@{
}

<h2>Donor</h2>
<h3>Calculate the amount that can be deducted from your taxes!</h3>

<div>
    <div id="FormDiv">
        <div class="amount">
            @Html.LabelFor(m => m.Amount)
            @Html.EditorFor(m => m.Amount)
            @Html.ValidationMessageFor(m => m.Amount)
        </div>
        <div class="eventType">
            @Html.LabelFor(m => m.EventType)
            <br />
            @foreach (var eventType in Model.EventTypes)
            {
                <!--<input type="radio" asp-for="EventType" value="@eventType" id="EventType@(eventType)" /> @eventType <br />-->
                @Html.RadioButtonFor(model => model.EventType, eventType) @eventType
                <br />
            }
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" id="PostButton">Calculate</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var viewModel = {
            Amount: 50000, //$('@Html.IdFor(m => m.Amount)').val(),
            EventType: "Running" //$('@Html.IdFor(m => m.EventType)').val()
        };

        $('PostButton').click(function (e) {
            $.ajax({
                url: "/Donor/Index",
                type: "POST",
                data: viewModel,
            });
        });
    });
</script>